nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #8C1007;
}

nav h1 {
    color: white;
    font-size: large;
}

.nav-links{
    list-style-type: none;
    display: flex;
    gap: 20px;
}


.nav-links li{
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 10px;
}
