/* Style navbar */
.navbar {
    font-family: 'ws-paradose';
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8C1007;
    padding: 10px 20px;
}

/* Logo dengan subbrand di bawah */
.navbar .logo {
    text-align: start;
}

.navbar .logo a {
    font-family: 'ws-paradose';
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: block;
    /* Mengubah link menjadi block agar bisa dipisah */
}

.navbar .subbrand {
    display: block;
    /* Menjadikan subbrand sebagai block element */
    color: #f39c12;
    font-size: 1px;
    font-style: italic;
    margin-top: px;
    /* Memberikan jarak antara logo dan subbrand */
}

.sub2 {
    color: white;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
    margin: 10px;
}

.nav-links a:hover {
    color: #FFF0C4;
}




.food-section h1 {
    font-size: 36px;
    color: #8C1007;
    margin-bottom: 10px;
}

.food-section p {
    font-size: 18px;
    color: #333;
    margin-bottom: 40px;
}

.food-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 0 20px;
}


.food-card {
    background-color: white;

    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.food-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.food-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.food-card h3 {
    color: #8C1007;
    font-size: 20px;
    margin: 10px 0 5px;
}

.food-card p {
    font-size: 15px;
    padding: 0 15px 15px;
    color: #555;
}

/* Active link */
.nav-links a.active {
    color: #FFF0C4;
    font-weight: bold;
}


@media (max-width: 600px) {
    .food-card {
        flex-direction: column;
        text-align: center;
    }

    .food-card img hover {
        filter: drop-shadow(0 0 15px rgba(255, 255, 0, 0.8));
        transition: filter 0.3s ease;
    }

    /* Efek cahaya lembut */
}